@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=PT+Serif&display=swap");

body {
  background-color: #cccccc;
  background-image: linear-gradient(rgb(29, 29, 46), black);

}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "PT Serif", serif;
  position: static;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 55px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 70px;
  padding: 0 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container{
  min-height: 65vh;
  background-color: black;
  color: white;
  font-family: 'Lora', serif;
  display: flex;
  margin: 23px auto;
  width:70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vh;
}

.container image{
  opacity: 0.5;
}

.bottom{
 position: sticky;
 height: 100px;
 background-color: rgb(22, 20, 20) ;
 color: white;
 bottom: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.icons{
  margin-top: 14px; 
}

.icons i{
   cursor: pointer;
}

#myprogressbar{
  width: 80vw;
  cursor: pointer;
  
}

.songitemcontainer{
  margin-top: 40px;
}

.songitem{
  height: 50px;
  display: flex;
  background-color: transparent;
  margin: 12px 0;
  width:100%;
  justify-content: space;
  align-items: center;
  border-radius: 33px;
}

.songitem:hover{
  background: rgb(42, 49, 56);
}

.songitem img{
  width: 43px;
  margin: 0  23px ;
  border-radius: 34px;
}

.singer{
  margin:0 23px;
}

.songlistplay i{
  padding: 34px;
  cursor: pointer;
}

.songinfo{
  position: absolute;
  left: 10vw;
  font-family: "PT Serif", serif;
}

.songinfo img{
  opacity: 0;
  transition: opacity 0.4s ease-in;
}